<p>Hallo Welt</p>

<p>Das hier habe ich gefunden: </p>
{{#each hits}}
<ul>
//muss dem in Hit entsprechen danach dann npm run develop in cygwin
    <li>id: {{getID}}</li>
    <li>def: {{getLength}}</li>
    <li>Species for you: {{getDef
    }}</li>
</ul>
<hr>
{{/each}}